#btn-inicial {
  /* estilos específicos para el botón de login */
  background-color: #4285f4;
  margin: 0 5px;
}

.btn {
  /* estilos comunes para todos los botones */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  color: white;
}

.btn.active {
  background-color: #2c5ea6;
  font-weight: bold;
}

.logo {
  width: 300px; 
  height: auto; 
  display: block; 
  margin: 10px auto; 
}

.logo-positioned {
  position: absolute;
  top: 50px;  
  left: 30px; 
  width: 150px;
  height: auto;
}

/* Nuevo contenedor para los botones */
.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 15px;
}